*{
  font-family: 'Quicksand', sans-serif;
}
body,
html {
  background-color: #ddd;
  color: #444;
  font-family: sans-serif;
  height: 100vh;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
}

header {
  -ms-align-items: center;
  align-items: center;
  background-color: #aaa;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: 85vh;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 4em;
  position: fixed;
  margin: 0 auto;
  top: 20px;
  text-align: center;
  width: auto;
  z-index: 5;
}

nav.desktop {
  background-color: #666;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 15px 0;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  height: 1em;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.nav-group {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  padding: 0 20px;
  width: 20%;
}

.nav-group:last-of-type {
  right: 0px;
}

.nav-group>a {
  color: white;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  text-decoration: none;
  width: 50%;
}

.skills-section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 45px;
  max-width: 1220px;
  padding: 20px 20px 40px 20px;
  z-index: 2;
}

nav.mobile {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  left: 0px;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: all 1s ease;
}

nav.mobile.open {
  background-color: #ddd;
  overflow: hidden;
}

.nav-button {
  background-image: url(../img/nav.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #666;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 40px;
  z-index: 7;
}

.open>.nav-button {
  background-image: url(../img/close.svg);
}

.nav-links {
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: 0;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  overflow: hidden;
  padding: 30px 0;
  width: 0;
  z-index: -2;
  opacity: 0;
  transition: all 1s ease;
}

.nav-links>a {
  border-bottom: 1px solid #444;
  color: #444;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px;
  text-decoration: none;
  transition: all 1s ease;
}

.nav-links>a:first-of-type {
  border-top: 1px solid #444;
}

nav.mobile.open>.nav-links {
  height: 30vh;
  opacity: 1;
  width: auto;
  z-index: 6;
}

h2 {
  text-align: center;
}

.skills-section>h2 {
  width: 100%;
}


.skill-section {
  -ms-align-items: center;
  align-items: center;
  background-color: #f2f2f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin: 10px;
  min-width: 200px;
  padding: 20px 10px;
  width: 30%;
}

.skill-img {
  border-radius: 50%;
  opacity: 0;
  transform: rotateY(90deg);
  transition: all 1s ease;
  margin-bottom: 20px;
  width: 80%;
}

.skill-img.flipped {
  opacity: 1;
  transform: rotateY(0deg);
}

.skill-section>ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  list-style: none;
  margin-top: 0px;
  padding: 10px;
}

.skill-section>ul>li {
  margin: 10px;
}


.work-section {
  padding: 20px 30px;
}

.work-item {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -ms-align-items: stretch;
  align-items: stretch;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/img2.svg);
  background-color: gray;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 70vh;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1200px;
  overflow: hidden;
}

.work-item:nth-of-type(even) {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}

.work-item:nth-of-type(even)>.work-content>.view-buttons {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}

.work-content>h3{
  font-size: 1.5em;
  margin-bottom: 0;
}

.work-content {
  background-color: #f2f2f3;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #444;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  transition: margin 1s ease;
  padding: 40px 20px;
  width: 40%;
}

.view-buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.view-button {
  background-image: url(../img/circle-icon.svg);
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00BFAD;
  border-radius: 50%;
  height: 50px;
  margin-right: 20px;
  width: 50px;
}



.view-button:last-of-type, .contact-button:first-of-type{
  background-image: url("../img/git.svg");
}

.view-button:first-of-type, #nfc .contact-button{
  background-image: url("../img/web.svg");
}


.about-section {
  -ms-align-items: center;
  align-items: center;
  background-color: #008073;
  color: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 70vh;
  text-align: center;
}

.about-content {
  max-width: 1200px;
  padding: 10px;
}

.about-content>p{
  max-width: 800px;
}

footer {
  -ms-align-items: center;
  align-items: center;
  color: #444;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  min-height: 30vh;
  padding-bottom: 0px;
}

.contact-button {
  background-color: #00BFAD;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  height: 70px;
  margin: 10px;
  width: 70px;
}


.contact-button#linkedin{
  background-image: url("../img/linkedin.svg");
}

.contact-button#email{
  background-image: url("../img/email.svg")
}


.contact-buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

span {
  font-weight: bold;
}

.resume {
  color: #444;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}

.work-item#plix{
  background-image: url("../img/plix.jpg");
}
.work-item#back-end-socket{
  background-image: url('../img/bes.png')
}

.work-item#mine-flood{
  background-image: url("../img/mineflood.jpg");
}
.work-item#concrete-jungle{
  background-image: url("../img/concretejungle.png");
}

.work-item#nfc{
  background-image: url("http://neonfoxconsulting.com/wp/wp-content/uploads/2016/09/hero.jpg");
}

.work-item#inkblock{
  background-image: url("http://jackiecasper.com//InkBlock/img/articles/artists/2/hero.jpg");
}

/*********************************************************/
/* STOLEN FROM HOVER.css
http://ianlunn.github.io/Hover/ */
/*.view-button, .contact-button{
    box-shadow: 0 0 1px transparent;
        transition-duration: 0.3s;
        transition-property: transform;
}
.view-button::before, .contact-button::before{
  pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.view-button:hover, .contact-button:hover{
      transform: translateY(-5px);
}

.view-button:hover::before, .contact-button:hover::before{
  opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}*/
.view-button, .contact-button{
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.view-button:hover, .contact-button:hover{
  box-shadow: 0 6px 20px rgba(0,0,0,.5);
  transform: scale(1.1);
}

.underline-link{
  display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    padding: 0 0 8px;
    position: relative;
    overflow: hidden;
}
.underline-link.resume{
  margin: .4em;
  padding: 1em;
}
.underline-link::before{
  content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #00BFAD;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.underline-link:hover::before, .underline-link:active::before, .underline-link:focus::before, .active-link::before{
  left: 0;
  right: 0;
}

.notification{
  position: fixed;
  background-color: #1DE9B6;
  height: 50px;
  width: 100vw;
  color: #444;
  font-weight: bold;
  font-size: 1.2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  top: 0;
  height: 0;
  overflow: hidden;
}

#email-select{
  border: 0px solid transparent;
  resize: none;
  background-color: transparent;
  width: 0px;
  height: 0px;
  outline: 0px solid transparent;
}




/**************************************************************/

@media screen and (max-width: 1260px) {
  .skill-section {
    width: 27%;
  }
}

@media screen and (max-width: 790px) {
  h1 {
    font-size: 3em;
    top: 120px;
  }
  .skill-section {
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
  }
  .skill-img {
    width: 50%;
  }
  .nav-group {
    pointer-events: none;
    opacity: 0;
    z-index: -2;
  }
  .work-section {
    padding: 10px;
  }
  .work-content {
    padding: 10px;
    height: 50%;
    width: 100%;
  }
  .work-content>h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  .work-description {
    height: 0px;
    margin: 0;
    overflow: hidden;
  }
  .view-buttons {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .view-button {
    margin: 5px;
  }
  .work-item:nth-of-type(even)>.work-content>.view-buttons {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  nav.mobile {
    width: 100%;
    height: auto;
  }
  .work-item#plix{
    background-image: url("../img/plix_mobile.jpg");
  }
}
